/*
  Reset
  Based on https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  scrollbar-gutter: stable;

  @media (max-width: 600px) {
    // prevent overflow issues
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

figcaption {
  font-style: italic;
}

input,
button,
textarea,
select {
  font: inherit;
  background-color: inherit;
  color: inherit;
  border-color: var(--color-text);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  overflow-wrap: break-word;
  margin-block-end: var(--space-100);
}

li {
  margin-block-end: var(--space-100);
}
