:root {
	--space-50: .5rem;	 //  8px
	--space-75: .75rem;  // 12px
	--space-100: 1rem; 	 // 16px
	--space-150: 1.5rem; // 24px
	--space-200: 2rem;   // 32px
	--space-300: 3rem;   // 48px
	--space-400: 4rem;   // 64px

	--gap: var(--space-100);
}