body {
  font-family: Rubik, system-ui, sans-serif;
  font-size: clamp(1rem, 0.5rem + 1vw, 1.25rem);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: underline dotted;
  text-underline-offset: 0.25em;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
  font-weight: 500;
  margin-block: var(--space-200) var(--space-100);
}

h1 {
  font-size: 1.4em;
  margin-block-end: var(--space-200);
}