:root {
  font-size: clamp(1rem, 0.5rem + 1vw, 1.25rem);
  line-height: 1.5;
}

body {
  font-family: Rubik, system-ui, sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
}

p {
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
  font-weight: 400;
}

h1 {
  font-size: 1.4em;
  margin-block-end: var(--space-200);
}