/* Code block */

.astro-code {
  tab-size: 2;
  font-size: 1rem;
  background-color: hsla(var(--hsl-text), 0.05) !important;

  @media (prefers-color-scheme: dark) {
    background-color: hsla(var(--hsl-white), 0.9) !important;
  }

  @media (min-width: 720px) {
    border-radius: 0.4rem;
  }

  margin-block-end: var(--space-200);
  margin-inline: calc(var(--space-100) * -1);
  padding: var(--space-100);

  & > code {
    background-color: unset;
    border: unset;
    border-radius: unset;
    padding-inline: unset;
  }
}

/* Inline code snippet */

code {
  background-color: hsla(var(--hsl-text), 0.05);
  border: 1px solid hsla(var(--hsl-text), 0.06);
  border-radius: 0.3rem;
  padding-inline: 0.25em;
}
