:root {
  --grid-margin: var(--space-100);
  --grid-expansion: 160px;
  --grid-textcontent: 640px;

  --grid: [fullwidth-start] var(--grid-margin) [maxcontent-start
    widecontent-start textcontent-start] 1fr [textcontent-end widecontent-end
    maxcontent-end] var(--grid-margin) [fullwidth-end];

  @media (width > 720px) {
    /* grid-margin + textcontent + grid-margin + scrollbar (~15px) */
    --grid: [fullwidth-start] minmax(var(--grid-margin), 1fr) [maxcontent-start]
      minmax(0, var(--grid-expansion)) [widecontent-start]
      minmax(0, var(--grid-expansion)) [textcontent-start]
      var(--grid-textcontent) [textcontent-end] minmax(0, var(--grid-expansion))
      [widecontent-end] minmax(0, var(--grid-expansion)) [maxcontent-end]
      minmax(var(--grid-margin), 1fr) [fullwidth-end];
  }
}

.layout-grid {
  grid-column: fullwidth !important;
  display: grid;
  grid-template-columns: var(--grid);

  & > * {
    grid-column: fullwidth;
  }

  figure {
    margin-block-end: var(--space-200);

    & > :is(img, iframe, fit-vids) {
      width: 100%;
      margin-block-end: var(--space-50);
      grid-column: fullwidth;

      @media (width > 720px) {
        grid-column: widecontent;
      }
    }

    & > figcaption {
      grid-column: textcontent;
    }
  }

  & .video {
    margin-block: var(--space-200) var(--space-200);
    grid-column: fullwidth !important;

    @media (width > 720px) {
      grid-column: widecontent !important;
    }

    & > video {
      width: 100%;
      height: auto;
    }
  }

  & .widecontent {
    grid-column: widecontent;
  }
}
