---
import BaseLayout from '../layouts/BaseLayout.astro';
let title = "Archiv";
const response = await fetch('https://wiki.fgeierst.de/lib/exe/ajax.php?call=api&fn=pages');
const pages = await response.json();
---
<BaseLayout title={title}>
	<ul>
		{pages.map((item) => (
			<li>
				<a href={`/${item.id.replace(':', '/')}`}>
					{item.title}
				</a>
			</li>
		))}
	</ul>
</BaseLayout>
