---
import { Img } from "astro-imagetools/components";
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Biografie"
const lang = "de"
---
<BaseLayout title={title} lang={lang}>
	<figure class="fullwidth layout-grid">
		<!-- <img src="_media/biografie/2012meroe/dreharbeiten_im_sudan_schaetze_der_welt.jpg?w=700&h=467&tok=2dca06" alt="Dreharbeiten im Sudan"> -->
		<Img 
			src="/src/images/dreharbeiten_im_sudan_schaetze_der_welt.jpg" 
			alt="Dreharbeiten im Sudan" 
			format="webp"
			breakpoints={[450, 900, 1400]}
			sizes="(min-width: 1300px) 900px, calc(100vw-2rem)"
		/>
		<figcaption>Dreharbeiten im Sudan (Foto: Rüdiger Lorenz)</figcaption>
	</figure>

	<p>Florian Geierstanger, Webentwickler, Filmemacher und Filmvermittler. Geb. 1981 in Oberstdorf/Allgäu, lebt und arbeitet in München. Studium an der Akademie der Bildenden Künste München, Hochschule für Fernsehen und Film München und Hochschule für Gestaltung Karlsruhe. 2010–2015 Filmkurator bei UNDERDOX – Filmfestival für Dokument & Experiment. Er gibt Lehrerfortbildungen und Filmworkshops für Kinder & Jugendliche. 2014–2017 Lehrbeauftrager für Video an der Universität Passau, 2016 leitet er den zweiwöchigen Workshop „Videokunst“ an der Sommerakademie Neuburg. Seit 2013 ist er Medienpädagoge der „Dokumentarfilmschule“ des DOK.fest München. Seit Juli 2021 arbeitet er als Frontend-Entwickler bei Pluswerk München AG.</p>
</BaseLayout>

<style lang="scss">
	figure {
		margin-block-end: var(--space-32);
	
		> :global(.astro-imagetools-img) {
			width: 100%;
			grid-column: widecontent;
			margin-block-end: var(--space-8);
		}
		> figcaption {
			grid-column: textcontent;
		}
	}
</style>