---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import heroImage from "../assets/images/dreharbeiten_im_sudan_schaetze_der_welt.jpg";
export const frontmatter = {
  title: "Biografie",
  lang: "de",
};
---

<BaseLayout title={frontmatter.title} lang={frontmatter.lang}>
  <figure class="layout-grid">
    <Image
      src={heroImage}
      width={835}
      height={470}
      format="webp"
      alt="Kameramann hinter einer auf einem Kran montierten Kamera. Im Hintergrund Pyramiden."
    />
    <figcaption>Dreharbeiten im Sudan (Foto: Rüdiger Lorenz)</figcaption>
  </figure>

  <p>
    Florian Geierstanger, geb. 1981 in Oberstdorf/Allgäu, lebt und arbeitet in
    München. Studium an der Akademie der Bildenden Künste München, Hochschule
    für Fernsehen und Film München und Hochschule für Gestaltung Karlsruhe.
    2010—2015 Filmkurator bei UNDERDOX — Filmfestival für Dokument & Experiment.
    Er gibt Lehrerfortbildungen und Filmworkshops für Kinder & Jugendliche.
    2014—2017 Lehrbeauftrager für Video an der Universität Passau, 2016 leitet
    er den zweiwöchigen Workshop „Videokunst“ an der Sommerakademie Neuburg.
    Seit 2013 ist er Medienpädagoge der „Dokumentarfilmschule“ des DOK.fest
    München. Juli 2021—Dezember 2023 arbeitete er als Frontend-Entwickler bei
    Pluswerk München AG.
  </p>
</BaseLayout>
