---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import heroImage from "../assets/projekte/dreharbeiten_im_sudan_schaetze_der_welt.jpg";
export const frontmatter = {
  title: "Florian Geierstanger",
  lang: "de",
};
---

<BaseLayout title={frontmatter.title} lang={frontmatter.lang}>
  <figure class="layout-grid">
    <Image
      src={heroImage}
      widths={[400, 800, 1200]}
      sizes={`(min-width: 1300px) 960px, calc(100vw - 2rem)`}
      alt="Kameramann hinter einer auf einem Kran montierten Kamera. Im Hintergrund Pyramiden."
    />
    <figcaption>Dreharbeiten im Sudan (Foto: Rüdiger Lorenz)</figcaption>
  </figure>

  <h2>Biografie</h2>

  <p>
    Florian Geierstanger, geb. 1981 in Oberstdorf/Allgäu, lebt und arbeitet in
    München. Studium an der Akademie der Bildenden Künste München, Hochschule
    für Fernsehen und Film München und Hochschule für Gestaltung Karlsruhe. Er
    war 2010 bis 2015 Filmkurator bei UNDERDOX — Filmfestival für Dokument &
    Experiment. 2011—2012 unterrichtete er Kunst am
    Karl-Ritter-von-Frisch-Gymnasium, Moosburg. Er führt Lehrerfortbildungen und
    Filmworkshops durch, u.a. als Lehrbeauftragter der Universität Passau, bei
    der Sommerakademie Neuburg und als Medienpädagoge beim DOK.fest München.
    2021—2023 arbeitete er als Frontend-Entwickler bei Pluswerk München AG, seit
    2024 ist er IT-Consultant bei der codecentric AG.
  </p>
</BaseLayout>
