---
const siteTitle = 'Florian Geierstanger';
const pageTitle = 'Blog';
import Nav from '../components/Nav.astro'
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{pageTitle} — {siteTitle}</title>
	<link rel="stylesheet" href="{Astro.resolve('../styles/style.css')}">
</head>

<body>
	<Nav />
	<h1 class="page-title">{pageTitle}</h1>
</body>

</html>

<style lang="scss">
  .site-title {
    font-size: inherit;
    font-weight: inherit;
  }
</style>
