---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Kontakt"
const lang = "de"
---
<BaseLayout lang={lang} title={title}>

<p>
	Florian Geierstanger<br>
	Fritz-Winter-Str. 16<br>
	80807 München
</p>

<p>
	<a href="mailto:&#x66;&#x6c;&#x6f;&#x72;&#x69;&#x61;&#x6e;&#x40;&#x67;&#x65;&#x69;&#x65;&#x72;&#x73;&#x74;&#x61;&#x6e;&#x67;&#x65;&#x72;&#x2e;&#x6f;&#x72;&#x67;" class="mail">&#x66;&#x6c;&#x6f;&#x72;&#x69;&#x61;&#x6e;&#x40;&#x67;&#x65;&#x69;&#x65;&#x72;&#x73;&#x74;&#x61;&#x6e;&#x67;&#x65;&#x72;&#x2e;&#x6f;&#x72;&#x67;</a>
</p>

<ul>
	<li><a href="">LinkedIn</a></li>
	<li><a href="">Twitter</a></li>
	<li><a href="">Youtube</a></li>
</ul>

</BaseLayout>
