---
import BaseLayout from "../layouts/BaseLayout.astro";
export const frontmatter = {
  title: "Sitemap",
  lang: "de",
};

let pages = [];

// collect Markdown pages
const allMdPages = await Astro.glob("./blog/[^_]*.md*");
allMdPages.forEach((page) => {
  pages.push({
    title: page.frontmatter.title,
    id: page.url.substring(1),
  });
});

// collect Astro pages
const allAstroPages = await Astro.glob("./*.astro");
allAstroPages.forEach((page) => {
  if (page?.frontmatter?.title) {
    pages.push({
      title: page?.frontmatter?.title,
      id: "", // @todo add id
    });
  }
});
---

<BaseLayout title={frontmatter.title} lang={frontmatter.lang}>
  <ul>
    {
      pages.map((item) => (
        <li>
          <a href={`/${item.id.replace(":", "/")}`}>{item.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
