---
export interface Props {
  post: any;
}

const { post } = Astro.props;
const date = new Date(post.frontmatter.publishDate);
const localDate = date.toLocaleDateString('de-DE', { year: 'numeric', month: 'short', day: 'numeric' });

---
<li class="post-preview">
  <a href={post.url}>
    {post.frontmatter.title} 
    <span> ({localDate}) </span>
  </a>
</li>
