---
import { useTranslations } from "../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<nav>
  <ul>
    <li><a href="/">{t("nav.home")}</a></li>
    <li><a href="/sitemap/">Sitemap</a></li>
  </ul>
</nav>

<style>
  nav {
    &::before {
      content: "";
      display: block;
      height: 4px;
      width: var(--space-200);
      background-color: var(--color-text);
      margin-block-end: var(--space-50);
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-50) var(--space-200);
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
