---
const navItems = [
  {
    id: "/",
    title: "Florian Geierstanger",
  },
  {
    id: "/filme",
    title: "Filme",
  },
  {
    id: "/filmvermittlung",
    title: "Filmvermittlung",
  },
  {
    id: "/filmprogramme",
    title: "Filmprogramme",
  },
  {
    id: "/blog",
    title: "Blog",
  },
  {
    id: "/kontakt",
    title: "Kontakt",
  },
];
---

<a class="skip-link" href="#main">Skip to content</a>
<nav>
  <ul>
    {
      navItems.map((item) => (
        <li>
          <a
            href={`${item.id}`}
            aria-current={
              Astro.url.pathname === item.id ||
              Astro.url.pathname === `${item.id}/`
                ? "page"
                : undefined
            }
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .skip-link {
    position: absolute;
    transform: scale(0);

    &:focus-visible {
      transform: scale(1);
      top: var(--space-50);
      left: var(--space-50);
      background-color: var(--color-background);
      text-decoration: none;
      padding-inline: var(--space-50);
      outline-offset: 0;
    }
  }
  nav {
    margin-block: var(--space-50);

    & ul {
      gap: var(--space-50) var(--space-200);
      flex-wrap: wrap;
      margin-block: 0;
      padding-inline-start: 0;
      list-style: none;
      display: flex;
    }

    & li {
      margin-block-end: unset;

      &:first-child {
        @media (width >= 900px) {
          & {
            flex-grow: 1;
          }
        }
      }
    }

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
