---
const { pathname } = new URL(Astro.request.url);

const navItems = [
  {
    id: "/",
    title: "Florian Geierstanger",
    additionalStyles: "nav__item--site-title",
  },
  {
    id: "/filme",
    title: "Filme",
  },
  {
    id: "/filmvermittlung",
    title: "Filmvermittlung",
  },
  {
    id: "/filmprogramme",
    title: "Filmprogramme",
  },
  {
    id: "/blog",
    title: "Blog",
  },
  {
    id: "/kontakt",
    title: "Kontakt",
  },
];
---

<nav>
  <ul class="nav__list">
    {
      navItems.map((item) => (
        <li
          class={`nav__item ${pathname == item.id ? "nav__item--active" : ""} ${
            item.additionalStyles
          }`}
        >
          <a class="nav__link" href={`${item.id}`}>
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  nav {
    margin-block: var(--space-50);
  }

  .nav {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-50) var(--space-200);
      list-style: none;
      margin-block: 0;
      padding-inline-start: 0;
    }

    &__item {
      margin-block-end: unset;

      &--active a {
        text-decoration: underline dotted;
      }

      &--site-title {
        @media (min-width: 900px) {
          flex-grow: 1;
        }
      }
    }

    &__link {
      text-decoration: none;

      &:hover {
        text-decoration: underline dotted;
      }
    }
  }
</style>
