---
const navItems = [
  {
    id: "/",
    title: "Florian Geierstanger",
  },
  {
    id: "/filme",
    title: "Filme",
  },
  {
    id: "/filmvermittlung",
    title: "Filmvermittlung",
  },
  {
    id: "/filmprogramme",
    title: "Filmprogramme",
  },
  {
    id: "/blog",
    title: "Blog",
  },
  {
    id: "/kontakt",
    title: "Kontakt",
  },
];
---

<nav>
  <ul class="nav__list">
    {
      navItems.map((item) => (
        <li class="nav__item">
          <a
            class="nav__link"
            href={`${item.id}`}
            aria-current={
              Astro.url.pathname === item.id ||
              Astro.url.pathname === `${item.id}/`
                ? "page"
                : undefined
            }
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  nav {
    margin-block: var(--space-50);
  }

  .nav {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-50) var(--space-200);
      list-style: none;
      margin-block: 0;
      padding-inline-start: 0;
    }

    &__item {
      margin-block-end: unset;

      &:first-child {
        @media (min-width: 900px) {
          flex-grow: 1;
        }
      }
    }

    &__link {
      text-decoration: none;

      &[aria-current="page"] {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
