<div class="logos">
  <slot />
</div>

<style>
  .logos :global(ul) {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    gap: 1em 2em;
    padding-inline-start: 0;
    justify-items: center;
  }
</style>
