---
const path = Astro.request.url.pathname;
const navItems = [
  { 
    id: '/',
    title: 'Florian Geierstanger',
    additionalStyles: 'nav__item--site-title'
  },
  { 
    id: '/filmvermittlung',
    title: 'Filmvermittlung'
  },
  { 
    id: '/filme',
    title: 'Filme'
  },
  { 
    id: '/filmprogramme',
    title: 'Kurator'
  },
  { 
    id: '/biografie',
    title: 'Biografie'
  },
  { 
    id: '/archiv',
    title: 'Archiv'
  },
  { 
    id: '/notes',
    title: 'Notes'
  },
  { 
    id: '/kontakt',
    title: 'Kontakt'
  },
];
---
<ul class="nav">
		{navItems.map((item) => (
			<li class={`nav__item ${path == item.id ? "nav__item--active" : ""} ${item.additionalStyles}`}>
				<a class="nav__link" href={`${item.id}`}>
					{item.title}
				</a>
			</li>
		))}
</ul>

<style lang="scss">
  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 2rem;
    list-style: none;
    margin-block-end: 2rem;
    margin-block-start: 0;
    padding-inline-start: 0;

    &__item {
      &--active a {
        text-decoration: underline;
      }

      &--site-title {
        @media (min-width: 900px) {
          flex-grow: 1;
        }
      }
    }

    &__link {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
