---
const navItems = [
  { 
    id: '/',
    title: 'Florian Geierstanger'
  },
  { 
    id: '/filmvermittlung',
    title: 'Filmvermittlung'
  },
];
const path = Astro.request.url.pathname;
---
<ul class="nav">

		{navItems.map((item) => (
			<li class={`nav__item ${path == item.id ? "nav__item--active" : ""}`}>
				<a class="nav__link" href={`${item.id}`}>
					{item.title}
				</a>
			</li>
		))}


  <!-- <li class="nav__item "><a class="nav__link" href="/filme">Filme</a></li>
  <li class="nav__item "><a class="nav__link" href="/filmprogramme">Kurator</a></li>
  <li class="nav__item "><a class="nav__link" href="/biografie">Biografie</a></li>
  <li class="nav__item"><a class="nav__link" href="/archiv">Archiv</a></li>
  <li class="nav__item "><a class="nav__link" href="/notes/">Notes</a></li>
  <li class="nav__item "><a class="nav__link" href="/kontakt">Kontakt</a></li>  -->
</ul>


<style lang="scss">
  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 2rem;
    list-style: none;
    margin-block-end: 2rem;
    margin-block-start: 0;
    padding-inline-start: 0;

    &__item {
      &--active a {
        text-decoration: underline;
      }

      &--site-title {
        @media (min-width: 900px) {
          flex-grow: 1;
        }
      }
    }

    &__link {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
