<ul class="nav">
  <li class="nav__item nav__item--site-title"><a class="nav__link" href="https://florian.geierstanger.org/">Florian Geierstanger</a></li>
  <li class="nav__item nav__item--active"><a class="nav__link" href="/">Blog</a></li>
  <li class="nav__item"><a class="nav__link" href="https://florian.geierstanger.org/filmvermittlung">Filmvermittlung</a></li>
  <li class="nav__item"><a class="nav__link" href="https://florian.geierstanger.org/filme">Filme</a></li>
  <li class="nav__item"><a class="nav__link" href="https://florian.geierstanger.org/filmprogramme">Kurator</a></li>
  <li class="nav__item"><a class="nav__link" href="https://florian.geierstanger.org/biografie">Biografie</a></li>
  <li class="nav__item"><a class="nav__link" href="https://florian.geierstanger.org/kontakt">Kontakt</a></li>
</ul>


<style lang="scss">
  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding-inline-start: 0;

    &__item {
      &--active {
        font-style: italic;
      }

      &--site-title {
        flex-grow: 1;
      }
    }

    &__link {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
