<ul class="nav">
  <li class="nav__item nav__item--site-title"><a class="nav__link" href="/">Florian Geierstanger</a></li>
  <li class="nav__item "><a class="nav__link" href="/filmvermittlung">Filmvermittlung</a></li>
  <li class="nav__item "><a class="nav__link" href="/filme">Filme</a></li>
  <li class="nav__item "><a class="nav__link" href="/filmprogramme">Kurator</a></li>
  <li class="nav__item "><a class="nav__link" href="/biografie">Biografie</a></li>
  <li class="nav__item"><a class="nav__link" href="/archiv">Archiv</a></li>
  <li class="nav__item "><a class="nav__link" href="/notes/">Notes</a></li>
  <li class="nav__item "><a class="nav__link" href="/kontakt">Kontakt</a></li>
</ul>


<style lang="scss">
  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    list-style: none;
    margin-block-end: 2rem;
    margin-block-start: 0;
    padding-inline-start: 0;

    &__item {
      &--active {
        font-style: italic;
      }

      &--site-title {
        @media (min-width: 900px) {
          flex-grow: 1;
        }
      }
    }

    &__link {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
