---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<li class="post-preview">
  <a href={post.url}>
    {post.title} 
    <span>
      ({post.publishDate})
    </span>
  </a>
</li>
