---
import "../styles/style.scss";
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
let {title, content, hasTitleElement=false, date} = Astro.props;
const siteTitle = 'Florian Geierstanger';
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title} — {siteTitle}</title>
  <link rel="preload" href="/assets/Rubik.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body>
	<div class="wrapper">
    <header>
			<Nav />
    </header>

		<main class="main">
      {date &&
        <p class="date">
          {date}
        </p>
      }

      {!hasTitleElement &&
        <h1 class="page-title">
          {title}
        </h1>
      }
			<slot />
		</main>

    <footer>
      <Footer />
    </footer>
	</div>
</body>

</html>


<style lang="scss">

  .site-title {
    font-size: inherit;
    font-weight: inherit;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 70ch) 1fr;
    row-gap: var(--space-32);

    & > * {
      grid-column: 2/-2;
    }

    & > header, & > footer {
      grid-column: 1/-1;
    }
  }
</style>